
div.pagination {
    margin: 30px;
    padding: 3px;
    text-align: center;
}
div.pagination a {
    color: #000;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.pagination a:hover, div.pagination a:active {
    color: #00a6e5;
}
div.pagination span.current {
    background-color: #00a6e5;
    color: #FFFFFF;
    margin: 3px;
    padding: 0px 5px;
	font-size:14px;
}
div.pagination span.disabled {
    color: #4A4A4A;
    margin: 3px;
    padding: 2px 5px;
	font-size:14px;
}
div.yahoo {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.yahoo a {
    border: 1px solid #FFFFFF;
    color: #000099;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: underline;
}
div.yahoo a:hover {
    border: 1px solid #000099;
    color: #000000;
}
div.yahoo a:active {
    border: 1px solid #000099;
    color: #FF0000;
}
div.yahoo span.current {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.yahoo span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
}
div.meneame {
    color: #FF6500;
    font-size: 80%;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.meneame a {
    background-image: url("meneame.jpg");
    background-position: center bottom;
    border: 1px solid #FF9600;
    color: #FF6500;
    margin-right: 3px;
    padding: 5px 7px;
    text-decoration: none;
}
div.meneame a:hover, div.meneame a:active {
    background-color: #FFC794;
    background-image: none;
    border: 1px solid #FF9600;
    color: #FF6500;
}
div.meneame span.current {
    background-color: #FFBE94;
    border: 1px solid #FF6500;
    color: #FF6500;
    font-weight: bold;
    margin-right: 3px;
    padding: 5px 7px;
}
div.meneame span.disabled {
    border: 1px solid #FFE3C6;
    color: #FFE3C6;
    margin-right: 3px;
    padding: 5px 7px;
}
div.flickr {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.flickr a {
    background-position: center bottom;
    border: 1px solid #DEDFDE;
    color: #0061DE;
    margin-right: 3px;
    padding: 2px 6px;
    text-decoration: none;
}
div.flickr a:hover, div.meneame a:active {
    background-color: #0061DE;
    background-image: none;
    border: 1px solid #000000;
    color: #FFFFFF;
}
div.flickr span.current {
    color: #FF0084;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
}
div.flickr span.disabled {
    color: #ADAAAD;
    margin-right: 3px;
    padding: 2px 6px;
}
div.sabrosus {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.sabrosus a {
    border: 1px solid #9AAFE5;
    color: #2E6AB1;
    margin-right: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.sabrosus a:hover, div.pagination a:active {
    background-color: lightyellow;
    border: 1px solid #2B66A5;
    color: #000000;
}
div.sabrosus span.current {
    background-color: #2E6AB1;
    border: 1px solid navy;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 5px;
}
div.sabrosus span.disabled {
    border: 1px solid #929292;
    color: #929292;
    margin-right: 2px;
    padding: 2px 5px;
}
div.scott {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.scott a {
    border: 1px solid #DDDDDD;
    color: #88AF3F;
    margin-right: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.scott a:hover, div.scott a:active {
    background-color: #F1FFD6;
    border: 1px solid #85BD1E;
    color: #638425;
}
div.scott span.current {
    background-color: #B2E05D;
    border: 1px solid #B2E05D;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 5px;
}
div.scott span.disabled {
    border: 1px solid #F3F3F3;
    color: #CCCCCC;
    margin-right: 2px;
    padding: 2px 5px;
}
div.quotes {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.quotes a {
    border: 1px solid #DDDDDD;
    color: #AAAAAA;
    margin-right: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.quotes a:hover, div.quotes a:active {
    border: 1px solid #A0A0A0;
    margin-right: 2px;
    padding: 2px 5px;
}
div.quotes span.current {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    color: #AAAAAA;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 5px;
}
div.quotes span.disabled {
    border: 1px solid #F3F3F3;
    color: #CCCCCC;
    margin-right: 2px;
    padding: 2px 5px;
}
div.black {
    background-color: #000000;
    color: #A0A0A0;
    font-size: 80%;
    margin: 3px;
    padding: 10px 3px;
    text-align: center;
}
div.black a {
    background-image: url("bar.gif");
    background-position: center bottom;
    border: 1px solid #909090;
    color: #C0C0C0;
    margin-right: 3px;
    padding: 2px 5px;
    text-decoration: none;
}
div.black a:hover, div.black a:active {
    background-color: #404040;
    background-image: url("invbar.gif");
    border: 1px solid #F0F0F0;
    color: #FFFFFF;
}
div.black span.current {
    background-color: #606060;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 5px;
}
div.black span.disabled {
    border: 1px solid #606060;
    color: #808080;
    margin-right: 3px;
    padding: 2px 5px;
}
div.black2 {
    margin: 3px;
    padding: 7px;
    text-align: center;
}
div.black2 a {
    border: 1px solid #000000;
    color: #000000;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.black2 a:hover, div.black2 a:active {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}
div.black2 span.current {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.black2 span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
}
div.black-red {
    background-color: #3E3E3E;
    color: #FFFFFF;
    font-family: Tahoma,Arial,Helvetica,Sans-serif;
    font-size: 11px;
}
div.black-red a {
    background-color: #3E3E3E;
    color: #FFFFFF;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.black-red a:hover, div.black-red a:active {
    background-color: #EC5210;
    color: #FFFFFF;
}
div.black-red span.current {
    background-color: #313131;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.black-red span.disabled {
    background-color: #3E3E3E;
    color: #868686;
    margin: 2px;
    padding: 2px 5px;
}
div.grayr {
    background-color: #C1C1C1;
    font-family: Tahoma,Arial,Helvetica,Sans-serif;
    font-size: 11px;
    padding: 2px;
}
div.grayr a {
    background-color: #C1C1C1;
    color: #000000;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.grayr a:hover, div.grayr a:active {
    background-color: #99FFFF;
    color: #000000;
}
div.grayr span.current {
    background-color: #FFFFFF;
    color: #303030;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.grayr span.disabled {
    background-color: #C1C1C1;
    color: #797979;
    margin: 2px;
    padding: 2px 5px;
}
div.yellow {
    margin: 3px;
    padding: 7px;
    text-align: center;
}
div.yellow a {
    border: 1px solid #CCCCCC;
    color: #000000;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.yellow a:hover, div.yellow a:active {
    border: 1px solid #F0F0F0;
    color: #000000;
}
div.yellow span.current {
    background-color: #D9D300;
    border: 1px solid #D9D300;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.yellow span.disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
}
div.jogger {
    font-family: "Lucida Sans Unicode","Lucida Grande",LucidaGrande,"Lucida Sans",Geneva,Verdana,sans-serif;
    margin: 7px;
    padding: 2px;
}
div.jogger a {
    background-color: #EE4E4E;
    color: #FFFFFF;
    margin: 2px;
    padding: 0.5em 0.64em 0.43em;
    text-decoration: none;
}
div.jogger a:hover, div.jogger a:active {
    background-color: #DE1818;
    color: #FFFFFF;
    margin: 2px;
    padding: 0.5em 0.64em 0.43em;
}
div.jogger span.current {
    background-color: #F6EFCC;
    color: #6D643C;
    margin: 2px;
    padding: 0.5em 0.64em 0.43em;
}
div.jogger span.disabled {
    display: none;
}
div.starcraft2 {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 13.5pt;
    font-weight: bold;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.starcraft2 a {
    background-color: #000000;
    color: #FFAA00;
    margin: 2px;
    text-decoration: none;
}
div.starcraft2 a:hover, div.starcraft2 a:active {
    background-color: #000000;
    color: #FFFFFF;
}
div.starcraft2 span.current {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
}
div.starcraft2 span.disabled {
    background-color: #000000;
    color: #444444;
    margin: 2px;
}
div.tres {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13.2pt;
    font-weight: bold;
    margin: 3px;
    padding: 7px;
    text-align: center;
}
div.tres a {
    background-color: #DD9900;
    border: 2px solid #D9D300;
    color: #FFFFFF;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.tres a:hover, div.tres a:active {
    background-color: #FFFF00;
    border: 2px solid #FFFF00;
    color: #000000;
}
div.tres span.current {
    border: 2px solid #FFFFFF;
    color: #000000;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
div.tres span.disabled {
    display: none;
}
div.megas512 {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.megas512 a {
    background-position: center bottom;
    border: 1px solid #DEDFDE;
    color: #99210B;
    margin-right: 3px;
    padding: 2px 6px;
    text-decoration: none;
}
div.megas512 a:hover, div.megas512 a:active {
    background-color: #777777;
    background-image: none;
    border: 1px solid #000000;
    color: #FFFFFF;
}
div.megas512 span.current {
    color: #99210B;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
}
div.megas512 span.disabled {
    color: #ADAAAD;
    margin-right: 3px;
    padding: 2px 6px;
}
div.technorati {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.technorati a {
    background-position: center bottom;
    border: 1px solid #CCCCCC;
    color: #4261DE;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
    text-decoration: none;
}
div.technorati a:hover, div.technorati a:active {
    background-color: #4261DF;
    background-image: none;
    color: #FFFFFF;
}
div.technorati span.current {
    color: #000000;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
}
div.technorati span.disabled {
    display: none;
}
div.youtube {
    background-color: #CECFCE;
    border-top: 1px dotted #9C9A9C;
    color: #313031;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 4px 6px 4px 0;
    text-align: right;
}
div.youtube a {
    color: #0030CE;
    font-weight: bold;
    margin: 0 1px;
    padding: 1px 3px;
    text-decoration: underline;
}
div.youtube a:hover, div.youtube a:active {
}
div.youtube span.current {
    background-color: #FFFFFF;
    color: #000000;
    padding: 1px 2px;
}
div.youtube span.disabled {
    display: none;
}
div.msdn {
    background-color: #FFFFFF;
    color: #313031;
    font-family: Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    padding: 4px 6px 4px 0;
    text-align: right;
}
div.msdn a {
    border: 1px solid #B7D8EE;
    color: #0030CE;
    margin: 0 3px;
    padding: 5px 6px 4px 5px;
    text-decoration: none;
}
div.msdn a:hover, div.pagination a:active {
    background-color: #D2EAF6;
    border: 1px solid #B7D8EE;
    color: #0066A7;
}
div.msdn span.current {
    background-color: #D2EAF6;
    border: 1px solid #B7D8EE;
    color: #444444;
    font-weight: bold;
    margin: 0 3px;
    padding: 5px 6px 4px 5px;
}
div.msdn span.disabled {
    display: none;
}
div.badoo {
    background-color: #FFFFFF;
    color: #48B9EF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 10px 0;
    text-align: center;
}
div.badoo a {
    border: 2px solid #F0F0F0;
    color: #48B9EF;
    margin: 0 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.badoo a:hover, div.badoo a:active {
    border: 2px solid #FF5A00;
    color: #FF5A00;
}
div.badoo span.current {
    background-color: #FF6C16;
    border: 2px solid #FF5A00;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 5px;
}
div.badoo span.disabled {
    display: none;
}
.manu {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
.manu a {
    border: 1px solid #EEEEEE;
    color: #036CB4;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
.manu a:hover, .manu a:active {
    border: 1px solid #999999;
    color: #666666;
}
.manu .current {
    background-color: #036CB4;
    border: 1px solid #036CB4;
    color: #FFFFFF;
    font-weight: bold;
    margin: 2px;
    padding: 2px 5px;
}
.manu .disabled {
    border: 1px solid #EEEEEE;
    color: #DDDDDD;
    margin: 2px;
    padding: 2px 5px;
}
div.green-black {
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.green-black a {
    background: url("image1.gif") repeat scroll 0 0 #2C2C2C;
    border: 1px solid #2C2C2C;
    color: #FFFFFF;
    margin-right: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.green-black a:hover, div.green-black a:active {
    background: url("image2.gif") repeat scroll 0 0 #AAD83E;
    border: 1px solid #AAD83E;
    color: #FFFFFF;
}
div.green-black span.current {
    background: url("image2.gif") repeat scroll 0 0 #AAD83E;
    border: 1px solid #AAD83E;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 5px;
}
div.green-black span.disabled {
    border: 1px solid #F3F3F3;
    color: #CCCCCC;
    margin-right: 2px;
    padding: 2px 5px;
}
div.viciao {
    margin-bottom: 10px;
    margin-top: 20px;
}
div.viciao a {
    border: 1px solid #8DB5D7;
    color: #000000;
    margin-right: 2px;
    padding: 2px 5px;
    text-decoration: none;
}
div.viciao a:hover, div.viciao a:active {
    border: 1px solid red;
    margin-right: 2px;
    padding: 2px 5px;
}
div.viciao span.current {
    background-color: #FFCA7D;
    border: 1px solid #E89954;
    color: #000000;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 5px;
}
div.viciao span.disabled {
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    margin-right: 2px;
    padding: 2px 5px;
}
div.yahoo2 {
    font-family: Tahoma,Helvetica,sans-serif;
    font-size: 0.85em;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.yahoo2 a {
    background-position: center bottom;
    border: 1px solid #CCDBE4;
    color: #0061DE;
    margin-right: 3px;
    padding: 2px 8px;
    text-decoration: none;
}
div.yahoo2 a:hover, div.yahoo2 a:active {
    background-color: #3666D4;
    background-image: none;
    border: 1px solid #2B55AF;
    color: #FFFFFF;
}
div.yahoo2 span.current {
    color: #000000;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 6px;
}
div.yahoo2 span.disabled {
    display: none;
}
div.yahoo2 a.next {
    border: 2px solid #CCDBE4;
    margin: 0 0 0 10px;
}
div.yahoo2 a.next:hover {
    border: 2px solid #2B55AF;
}
div.yahoo2 a.prev {
    border: 2px solid #CCDBE4;
    margin: 0 10px 0 0;
}
div.yahoo2 a.prev:hover {
    border: 2px solid #2B55AF;
}